* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.continer {
    height: 100vh;
    border: solid;
    background-color: black;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: solid;
}

button {
    border: solid;
    width: 75px;
    height: 40px;
    border-color: rgb(218, 218, 88);
    color: white;
    background-color: black;

}
.hover2 button:hover{
   
   
  }


button:hover {
    background-color: #000000;
    box-shadow: 5px 5px 10px rgba(233, 230, 39, 0.986);
    position: relative;
    top: -5px;
    transition: 0.8s;

}